{% extends "base.html" %}
{% block body %}
    <p>You can add tracks from <a href="{{ url_for("select_playlist_for_from_playlist") }}">other playlists</a>.</p>
    {% include "edit_playlist_table.html" %}
    <div class="sticky-bottom" style="height:5px; width=5px;">
        <div id="spotify-embed">Oh shoot</div>
    </div>


{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        function removeTrackFromWorkingPlaylist(track_id) {
            axios.post("{{ url_for("remove_track_from_working_playlist") }}", {
                track_id: track_id
            }).then(function (response) {
                document.getElementById("playlist_table").innerHTML = response.data;
            })
        }

        function playTrackNow(track_id) {
            embedController.loadUri("spotify:track:"+track_id);
            embedController.play();
        }

        let embedController = undefined;
        window.onSpotifyIframeApiReady = (IFrameAPI) => {
            let iframe = document.getElementById('spotify-embed');
            let options = {
                'height': 100,
                'width': 50,
            };
            let callback = (EmbedController) => {
                embedController = EmbedController;
            };
            IFrameAPI.createController(iframe, options, callback);
        };

    </script>
{% endblock %}