{% extends "base.html" %}
{% block body %}
    <p>You can add tracks from <a href="{{ url_for("select_playlist_for_from_playlist") }}">other playlists</a>.</p>
    {% include "edit_playlist_table.html" %}
{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        function removeTrackFromWorkingPlaylist(track_id) {
            axios.post("{{ url_for("remove_track_from_working_playlist") }}", {
                track_id: track_id
            }).then(function (response) {
                document.getElementById("playlist_table").innerHTML = response.data;
            })
        }
    </script>
{% endblock %}