<style>
    td {
        text-align: right;
    }
</style>
<table>
    <tr>
        <th>track name</th>
        <th>artist</th>
        <th>tempo</th>
        <th>danceability</th>
        <th>energy</th>
        <th>valence</th>
        <th>time signature</th>
    </tr>
    {% for track in tracks %}
        <tr>
            <td>{{ track["name"] }}</td>
            <td>({{ track["artists"][0]["name"] }})</td>
            <td>{{ track["af"]["tempo"] }}</td>
            <td>{{ track["af"]["danceability"] }}</td>
            <td>{{ track["af"]["energy"] }}</td>
            <td>{{ track["af"]["valence"] }}</td>
            <td>{{ track["af"]["time_signature"] }}</td>
        </tr>
    {% endfor %}
</table>