{% extends "base.html" %}
{% block body %}
    <p>Adding tracks from playlist {{ playlist.name }} (<a
            href="{{ url_for("select_playlist_for_from_playlist") }}">change</a>)</p>
    {% include "from_playlist_table.html" %}
{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        function addTrackToWorkingPlaylist(track_id) {
            tooltipList.forEach((tooltip) => {
                tooltip.hide();
            });
            axios.post("{{ url_for("playlist_from_playlist", playlist_id=playlist.id) }}", {
                track_id: track_id
            }).then(function (response) {
                document.getElementById("from_playlist_table").innerHTML = response.data;
                tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

            })
        }

    </script>
{% endblock %}