<table class="table" id="from_playlist_table">
    <tr>
        <th>track name</th>
        <th>artist</th>
        <th>tempo</th>
        <th>danceability</th>
        <th>energy</th>
        <th>valence</th>
        <th>time signature</th>
        <th>add to playlist</th>
    </tr>
    {% for track in tracks %}
        <tr>
            <td>{{ track["name"] }}</td>
            <td>({{ track["artists"][0]["name"] }})</td>
            <td>
                {% if (180 - track.af.tempo)|abs < 1 or (90 - track.af.tempo)|abs < 0.5 %}
                    ✅
                {% elif (180 - track.af.tempo)|abs < 2 or (90 - track.af.tempo)|abs < 1 %}
                    🟡
                {% endif %}
                {{ track["af"]["tempo"] }}</td>
            <td>{{ track["af"]["danceability"] }}</td>
            <td>{{ track["af"]["energy"] }}</td>
            <td>{{ track["af"]["valence"] }}</td>
            <td>{{ track["af"]["time_signature"] }}</td>
            <td>
                {% if track.in_working_playlist is false %}
                    <form action="{{ url_for("playlist_from_playlist", playlist_id=playlist.id) }}" method="post"
                          id="form{{ track.id }}">
                        <input type="hidden" name="add_track_id" value="{{ track.id }}"/>
                    </form>
                    <button
                            data-bs-toggle="tooltip"
                            data-bs-title="add this track to {{ g.working_playlist.name }}"
                            onclick="addTrackToWorkingPlaylist('{{ track.id }}')"
                            class="btn btn-primary">
                        add
                    </button>
                {% else %}
                    <div class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                         data-bs-title="this track is already in {{ g.working_playlist.name }}">
                        <button onclick="document.getElementById('form{{ track.id }}').submit()"
                                class="btn btn-secondary" disabled>
                            add
                        </button>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
